# Environments
.env
.venv/
venv/
env/

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Packaging / build
build/
dist/
*.egg-info/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Editors / OS
.idea/
.vscode/
.DS_Store

# Local data / secrets
responses.xlsx
service_account.json
